* {
}


.title {
  font-size: 290%;
  font-family: monospace;
  font-weight: bold;
  color: rgba(10, 190, 180, 0.9);
  letter-spacing: 10px;
  word-spacing: 15%;
  text-shadow: 6px 5px 4px rgba(200, 10, 10, 0.9);
  position: fixed;
  width: 100%;
  margin: 10px auto;
  position: fixed;
}



body {
  background-color: #bdd5ea;
  background-color: rgba(171, 199, 222, 0.6);
}

#navigation {
  background-color: rgba(175, 89, 89, 0.2);
  margin: 1% 0.5% 1% 0.5%;
  padding: 0.5%;
  text-align: center;
}

#navigation ul li{
  display: inline-block;
  margin: 1% 5%;
  font-size: 100%;
  font-family: Arial;
  font-weight: bolder;
}

#navigation ul li a {
  color: rgba(200, 50, 50, 0.9);
}

#navigation li a:hover, #navigation li a.on {
  color: rgba(100, 120, 200, 0.9);
  border: 1px none rgba(255, 255, 255, 0.5);
}


.column1, .column2, .column3 {
  background-color: rgba(20, 100, 160, 0.2);
  margin: 1%;
  float: left;
}

.column1 {
  width: 10%;

}

.column2 {
  width: 60%;
}

.column3 {
  width: 20%;
}

.column1 img {
  display: block;
  width: 70%;
  margin: 50% auto;
}

.column2 img {
  display: inline-block;
  width: 32%;
  margin-left: 0.5%;
}

.column2 p , ul {
  padding: 2%;
  color: rgba(140, 20, 20, 0.9);
}

.column3 p {
  padding: 1% 5%;
  font-family: monospace;
  color: rgba(240, 110, 90, 0.9);
}


#mouse1 {
  width: 15%;
  margin-left: 5%;
}

#mouse2 {
  width: 20%;
  margin-left: 20%;
}

#mouse3 {
  width: 25%;
  margin-left: 10%;
}


.column2 h3 , .column1 h3, .column3 h3 {
  text-align: center;
  font-family: cursive;
  color: rgba(100, 120, 200, 0.9);
}


.footer1 {
  width: 100%;
  text-align: center;
  background-color: rgba(255, 0, 0, 0.5);
  margin-top: 80%;
  color: black;
}
